{% extends 'navbar.html' %}
{%load static%}
{% block content %}
    <div class="container" style="margin-top:40px;">
            {%for post in context%}
            <div class="post">
                    <div class="baslikveyazi">
                        <div class="baslik_2">
                            <h2><a href="{% url 'post_detail' post.slug %}">{{post.post_title}}</a></h2>
                        </div>
                        <div class="yazi_2">
                            <div style="word-wrap: break-word;"><p style="font-size:20px;line-height:2;">{{post.post_body}}</p></div>
                        </div>
                    </div>
            </div>
            {%endfor%}
    </div>

{% endblock %}

