{%extends 'base.html'%}
{%load static%}

{%block navbar_assets%}
    <link rel="stylesheet" href="{% static 'css/navbar_demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation-round.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
{%endblock navbar_assets%}

    {%block document_navbar%}
    <div class="navbar-menu">
        <nav class="menu-navigation-round" style="font-size:30px;">
            <a href="#">Home</a>
            <a href="{% url 'bloghome'%}">Blog</a>
            <a href="#">Archive</a>
            <a href="#">Contact</a>
            <a href="#">About Me</a>
        </nav>
    </div>
    {% endblock document_navbar%}

    {%block js_codes%} 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.slicknav.min.js'%}"></script>
    
    <script>
    
        $(function(){
    
            var menu = $('.menu-navigation-round');
    
            menu.slicknav();
    
            // Mark the clicked item as selected
    
            menu.on('click', 'a', function(){
                var a = $(this);
    
                a.siblings().removeClass('selected');
                a.addClass('selected');
            });
        });
    
    
    </script>
    {%endblock js_codes%}