{% extends 'post_detail_assets.html' %}
{%load static%}


    {% block document_body %}

    <div class="col-md-12">
        <div class="col-md-2 offset-md-1" style="margin-top:40px;margin-bottom:20px;float:left;">
            <div>
                <img src="../static/images/flower.jpg" class="img-thumbnail make-circle">
            </div>
            <div class="icon_style">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <p style="font-size:15px;font-family: 'EB Garamond', serif;">ermissaim@gmail.com</p>
            </div>
        </div>

        <div class="col-md-7  post_container">
            <header class="post_header">
                <h1 style="margin-top:20px;margin-bottom:20px;">{{post.post_title}}</h1>
                <div style="margin-top:20px;">
                    <i class="fa fa-calendar" style="margin-left:10px;"></i> {{post.pub_date}}
                    <i class="fa fa-user" style="margin-left:20px;"></i> {{post.post_author}}
                    <i class="fa fa-tags" style="margin-left:20px;"></i> {{post.post_category}}
                </div>
            </header>
            <hr>
            <div class="post_content yazi">
                <p>{{post.post_body}}</p>
                <pre>
                    <code class="prettyprint">
posts = Posts.objects.all()
pages = Paginator(posts,3) #Show 5 post per page
logger.info("The value of var is %s", selected_page)
#logger.debug(selected_page)
#message = request.GET.get('message')
posts = Posts.objects.all()
pages = Paginator(posts,3) #Show 5 post per page
logger.info("The value of var is %s", selected_page)posts = Posts.objects.all()
pages = Paginator(posts,3) #Show 5 post per page
logger.info("The value of var is %s", selected_page)
                    </code>
                </pre>
            </div>
        </div>
    </div>
    {%endblock document_body%}
