{%load static%}
<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
    <link rel="stylesheet" href="css/footer-distributed-with-contact-form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}"/>
<style>

    .post_content {
        font-family: 'EB Garamond', serif;
        font-family: 'Source Serif Pro', serif;
        font-size:20px;
    }
    .post_container {
        background-color:#FFFFFF;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
        border-radius: 3px;
    }
    body {
        background-color: #e1e4e8;
    }

    .post_image {
        width:100%;
        height:100%;
        object-fit: contain;
    }
</style>
</head>

<body>
    <div class="row col-md-12">

        <div class="col-md-8 offset-md-1 post_container" style="margin-top:40px;margin-bottom:20px;">
            <header class="post_header">
                <h1 style="margin-top:20px;margin-bottom:20px;">{{post.title}}</h1>    
                <div class="col-md-8" style="margin:0 auto;">
                    <img class="post_image" src="{% static 'images/'%}{{post.post_image}}">
                </div>
                <div style="margin-top:20px;">
                    <i class="fa fa-calendar" style="margin-left:10px;"></i> {{post.pub_date}}
                    <i class="fa fa-user" style="margin-left:20px;"></i> {{post.post_author}}
                    <i class="fa fa-tags" style="margin-left:20px;"></i> {{post.post_category}}
                </div>
            </header>
            <hr>
            <div class="post_content">
                <p>{{post.post_body}}</p>
            </div>
        </div>

        <div class="col-md-2" style="margin-top:40px;">
                <div class="post_container" style="height:500px;">
                </div>
        </div>
    </div>
</body>

</html>