html {
    margin: -8px 0px;
}

body {
    margin: -8px 0px;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
    background-color: #333;
    background: url(../images/seher_vakti_agac.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}

#search_top {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  form > .search_textbox {
    outline: 0;
    height: 33px;
    width: 244px;
    line-height: 33px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  form > .search_button:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  form > .search_button {
    outline: 0;
    background: none;
    background-color: rgba(0, 150, 136, 0.8);
    float: left;
    height: 33px;
    width: 33px;
    text-align: center;
    line-height: 33px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  form > .search_button:hover {
    background-color: rgba(3, 145, 216, 0.8);
      
}

.skills_title {
    font-family: 'Rye', cursive;
    font-size: 60px;
}

.skills { /*Buyuk ve kucuk ekran icin ayır*/
    margin-top:10px; 
}

#main_container {

}

#aciklama {
    margin-top: 50px;
    z-index: 3;
    background-color:rgb(122, 210, 245);
    text-align: center;
    opacity: 0.8;
    height: 100px;
    -webkit-box-shadow: -1px 5px 69px 16px rgb(122, 210, 245);
    -moz-box-shadow: -1px 5px 69px 16px rgb(122, 210, 245);
    box-shadow: -1px 5px 69px 16px rgb(122, 210, 245);
}

@media screen and (min-width: 1224px) {

    #hamburger-icon {
        display: none;
    }

    #nav-container {
        margin: 0;
        width: 100%;
        height: 100px;
        background-color: black;
        -webkit-box-shadow: 1px 5px 27px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 5px 27px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 5px 27px 13px rgba(0, 0, 0, 0.75);
    }


    #nav-inner {
        width: 1100px;
        height: 100px;
        margin: 0px auto;
    }


    #nav-inner ul li {
        float: right;
        padding: 0px 15px;
        list-style: none;
        /*liste elemanlarının basindaki noktalari yok eder*/
        margin-top: 35px;
        font-size: 20px;
    }

    #nav-inner ul li a {
        color: antiquewhite;
        font-weight: 700;
        text-decoration: none;
        /* Linklerin altindaki cizgileri yok eder */
        letter-spacing: 1px;
        /*Harfler arasi uzakligi ayarlar*/
    }

    #nav-inner ul li a:hover {
        color: lime;
    }

    #logo {
        float: left;
        font-family: 'Pacifico', cursive;
        font-size: 2em;
        color: aliceblue;
        margin-top: 20px;
    }

    #nav-search-form {
        float: right;
    }




    .bars-container {
        cursor: pointer;
        display: none;
    }

}

@media screen and (max-width:500px) {
    #hamburger-icon {
        display: none;
        height: 40px;
        width: 100%;
    }

    .bars-container {
        display: inline-block;
        cursor: pointer;
        margin-top: 25px;
        margin-left: 80%;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    #nav-inner {
        margin: 0px auto;
    }

    #nav-inner ul {
        overflow: hidden;
        padding-left: 0px;
        height: 0;
    }

    #nav-inner ul.open {
        height: auto;
    }

    #nav-inner ul li {
        float: none;
        list-style: none;
        /*liste elemanlarının basindaki noktalari yok eder*/
        margin-top: 15px;
        margin-right: auto;
        font-size: 20px;
    }

    #nav-inner ul li a {
        color: rgb(180, 136, 79);
        font-weight: 700;
        text-decoration: none;
        /* Linklerin altindaki cizgileri yok eder */
        letter-spacing: 1px;
        /*Harfler arasi uzakligi ayarlar*/
    }

    #logo {
        display: none;
    }


}